@charset "UTF-8";
* {
    padding: 0px;
}

body {

}
header {
    background-color: black;
    color: white;
}

header > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a {
    color: black;
    text-decoration: none;
}