body {
    background-color: rgb(61, 61, 61);;
}
h1 {
    font: bold 28pt Arial;
    color: white;
}
section {
    margin: auto;
    display: block;
}
a {
    font: normal 14pt Arial;
    color: white;
}
img.back {
    scale: 45%;
}