@charset "UTF-8";

/* Todas as demais mídias */

/*
TYPICAL DEVICE BREAKPOINT
-------------------------
Pequenas telas: até 600px
Smartphones: de 600px até 768px
Tablets: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas (TV): Acima de 1200px
*/

/* Versão Impressão */
@media print {
    img#phone{display: none;}
    img#print{display: block;}
    
    body {
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    
}

/* Versão Tablet */
@media screen and (min-width: 768px) {
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}

    body{
        background: black url('../imagens/back-tablet.jpg') no-repeat center center;
        background-size: cover;
    }
}

/* Versão Desktop */
@media screen and (min-width: 992px) {
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}

    body{
        background: black url('../imagens/back-pc.jpg') no-repeat center center;
        background-size: cover;
    }
}

/* Versão TV */
@media screen and (min-width: 1200px) {
    img#phone{display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv{display: block;}

    body{
        background: black url('../imagens/back-tv.jpg') no-repeat center center;
        background-size: cover;
    }
}