@charset "UTF-8";

/*Tablets e telas maiores*/
@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }
    #itens {
        display: block;
    }
    nav > ul > li {
        display: inline-block;
    }
    main{
        max-width: 900px;
    }
}


/*Impressão*/
@media print {

}