@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: rgb(221, 218, 211);
}

header {
    background-color: gray;
    padding: 8px;
}

header h1 {
    text-align: center;
    padding: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
span#burguer{
    background-color: rgb(22, 22, 22);
    color: white;
    display: block;
    width: 100vw;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

header ul {
    list-style: none;
    text-align: center;
}

#itens {
    display: none;
}

header > nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(43, 43, 43);
    color: white;

    border-top: 1.5px solid lightgray;
}

header a:hover {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

main {
    width: 80vw;
    
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 20px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}