@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: rgb(221, 218, 211);
}

header {
    background-color: gray;
    padding: 8px;
}

header h1 {
    text-align: center;
    padding: 15px;
}

header ul {
    text-align: center;
}

header li {
    display: inline-block;
    background-color: rgb(75, 75, 75);
    padding: 10px;
    border-radius: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

header li:hover, a:hover {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

main {
    width: 70vw;
    
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 15px;
    text-align: justify;
}